@include media-larg{
    .projects{
        &_bio-image{
            height:60vh;

        }
        &_items{
            grid-template-columns: repeat(3,1fr);
        }
        .text-secondary{
            font-size:3rem;
        }
    }
}

@include media-medium{
   .home{
        padding-top: 20vh;
   }

   .contact{
        padding-top: 10vh;
        font-size: .5rem;

        &_list{
            font-size: .5rem;
        }
   }
   h2{
        font-size: .5rem;
        margin-bottom: 1rem;
   }
   .social-icons{
        position: initial;
        margin-top: 1rem ;
    }

}